@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  position: relative;
  height: 100%;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(20, 50%, 98%);

  display: flex;
  justify-content: center;
  align-items: start;
  padding: 90px;
}

.main-contents {
  margin-right: 50px;
}

.main-contents h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 30px;
}
.main-contents .menu-list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 20px;
}
.menu-list li {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu-list li > img {
  width: 250px;
  height: 240px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.menu-list li .category {
  color: hsl(7, 20%, 60%);
  font-size: 0.8rem;
}
.menu-list li .name {
  font-weight: 600;
}
.menu-list li .price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}
.menu-list li .price::before {
  content: "$";
}

.menu-list li div {
  font-weight: 600;

  position: absolute;
  bottom: 70px;
  left: 45px;
  background-color: #fff;
  width: 158px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid hsl(12, 20%, 44%);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-list li div:hover {
  color: hsl(14, 86%, 42%);
  border: 1px solid hsl(14, 86%, 42%);
}
.menu-list li div img {
  margin-right: 10px;
}
.menu-list li div.on {
  background-color: hsl(14, 86%, 42%);
  display: flex;
  justify-content: space-between;
  color: #fff;
  border: none;
  cursor: default;
}
.decrease-btn,
.increase-btn {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  background-color: hsl(14, 86%, 42%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.decrease-btn::after {
  content: "";
  width: 10px;
  height: 2px;
  display: block;
  background: url(assets/images/icon-decrement-quantity.svg) no-repeat;
}
.increase-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: url(assets/images/icon-increment-quantity.svg) no-repeat;
}

.cart-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  width: 380px;
}
.cart-box h2,
.cart-box .total-qty {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
  font-size: 1.4rem;
}
.cart-box > img {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: center;
}
.cart-box span {
  display: inline-block;
  color: hsl(12, 20%, 44%);
  font-weight: 600;
  font-size: 0.8rem;
  align-self: center;
}
.cart-box__active {
  display: none;
}
.cart-box__active.on {
  display: block;
}
.cart-box-list li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
li span.name {
  color: hsl(14, 65%, 9%);
  display: block;
  margin-bottom: 10px;
}
li span.qty {
  color: hsl(14, 86%, 42%);
  font-size: 0.8rem;
  margin-right: 10px;
}
li span.qty::after {
  content: "x";
}
li .price {
  color: hsl(14, 25%, 72%);
  margin-right: 7px;
}
li .price::before {
  content: "@ $";
}
li .sum::before {
  content: "$";
}
.cart-box-list li button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 25px;
  width: 16px;
  height: 16px;
  border: 1px solid hsl(7, 20%, 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-box-list li button::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: url(assets/images/icon-remove-item.svg) no-repeat;
}
.cart-box-list li button:hover {
  border-color: hsl(14, 65%, 9%);
}
.cart-box-list li button:hover::after {
  filter: brightness(50%);
}
.delivery-info {
  display: flex;
  background-color: hsl(20, 50%, 98%);
  padding: 20px 30px;
}
.delivery-info span {
  color: hsl(14, 65%, 9%);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.confirmation {
  display: none;
  position: fixed;
  width: 590px;
  height: 685px;
  background-color: #fff;
  border-radius: 30px;
  z-index: 101;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;

  flex-direction: column;
  gap: 30px;
}
.confirmation img {
  width: 48px;
  height: 48px;
}
.confirmation-txt h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.confirmation-txt p {
  color: hsl(12, 20%, 44%);
}

.order-box {
  background-color: hsl(20, 50%, 98%);
  padding: 0 25px;
  overflow-y: scroll;
}
.order-list li {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid hsl(13, 31%, 94%);
  display: flex;
  font-weight: 600;
  font-size: 0.8rem;
}
.order-list li img {
  margin-right: 15px;
}
.order-list li .sum {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* 총 금액 */

.total-price-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.total-price-box span {
  color: hsl(14, 65%, 9%);
  font-weight: 400;
}
.total-price-box span.total-price-txt {
  font-size: 1.5rem;
  font-weight: 700;
}
.total-price-box span.total-price-txt::before {
  content: "$";
}

/* 버튼 */
.btn {
  width: 100%;
  margin-top: 15px;
  color: #fff;
  background-color: hsl(14, 86%, 42%);
  border-radius: 30px;
  border: none;
  padding: 15px 0;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(90%);
}
